@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


:root {
    --clr-one: #66ffff;
    --clr-two: #effff4;
}


html,
body {
    height: 100vh;
}

/*<--------------HEADER-------------->*/

header {
    display: flex;
    min-width: 100vw;
    justify-content: space-around;
    align-items: center;
    height: 2.8rem;
}

/*<--------------DROPDOWN MENU-------------->*/

#dropBtn {
    background: transparent;
    color: var(--clr-two);
    padding: 0.4rem;
    border: none;
    border-bottom: 1px solid var(--clr-one);
    font-size: 1rem;
    appearance: none;
    outline: none;

}

#dropBtn:hover {
    color: var(--clr-one);
}

#dropdown {
    position: relative;
}

.dropContent {
    display: none;
    position: absolute;
    background: transparent;
    width: 100px;
    color: #fff;
}

.dropContent li {
    color: var(--clr-two);
    padding: 9px 8px;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    background: none;
    width: 5rem;
}

.dropContent li:hover {
    color: var(--clr-one);;
    cursor: default;
}

.show  {
    display: flex;
    flex-direction: column;
}


/*MAIN*/

.rain {
    background: url('../images/a.webp') center/cover no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}


.ocean {
    background: url('../images/ocean.webp') center/cover no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.forest {
    background: url('../images/forest.webp') center/cover no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}



/*SECTION*/


section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

h1{
    font-size: 2em;
}

#playButton{
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    border-radius: 100%;
    border: 2px solid teal;
    background: transparent;
    color: teal;
    outline: none;
}


#playButton:hover {
    color: var(--clr-one);
    border:1px solid var(--clr-one);
    border-radius: 100%;
}


/*LINE*/


#textBox {
    border-top: 1px solid var(--clr-one);
    border-bottom: 1px solid var(--clr-one);
    padding: 1rem;
}

#highlighted {
    display: block;
    animation: fadeIn ease 9s;
    font-size: 3.3rem;  
    color: var(--clr-one);
    margin: 1rem;
}


@keyframes fadeIn {
0% {opacity:0; color: #fff;}
100% {opacity:1; color: var(--clr-one);}
}